html {
  font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #001932 url(splash.jpg) no-repeat center center fixed;
    color: white;
    margin: 0;
}

#timer {
  display: flex;
  justify-content: space-between;

  width: 1280px;

  position: absolute;
  top: 43%;
  left: 50%;
  -webkit-transform: translate(-50%, -57%);
     -moz-transform: translate(-50%, -57%);
      -ms-transform: translate(-50%, -57%);
          transform: translate(-50%, -57%);
}

.timer-item {
  text-align: center;
}

.numbers {
  font-size: 12rem;
}

.text {
  font-size: 4.5rem;
}

#onlinelogo {
    height: 8rem;
    position: absolute;
    bottom: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

@media (max-width: 1310px) {
  #timer { width: 90%; }
}

@media (max-width: 992px) {
  html { font-size: 50%; }
}

@media (max-width: 789px) {
  html { font-size: 40%; }
}

@media (max-width: 594px) {
  html { font-size: 30%; }
}

@media (max-width: 424px) {
  html { font-size: 20%; }
}
